<!DOCTYPE html>
<html lang="en">
<head>
  <!-- META TAGS -->
  <meta charset="UTF-8" />
  <meta name="Zoomable" content="yes" />
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- META TAGS END -->

  <base href="/" />
  <title>Zoomable</title>

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/angular-chart.css">
  <link rel="stylesheet" href="/styles/angular-material.css">
  <link rel="stylesheet" href="/styles/ngProgress.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery.min.js"></script>
  <script src="/js/dependencies/angular.js"></script>
  <script src="/js/dependencies/angular-ui-router.js"></script>
  <script src="/js/dependencies/angular-material.js"></script>
  <script src="/js/dependencies/angular-messages.js"></script>
  <script src="/js/dependencies/angular-animate.js"></script>
  <script src="/js/dependencies/angular-aria.js"></script>
  <script src="/js/dependencies/ngprogress.js"></script>
  <script src="/js/dependencies/clipboard.js"></script>
  <script src="/js/dependencies/ngclipboard.js"></script>
  <script src="/js/dependencies/ng-file-upload-shim.min.js"></script>
  <script src="/js/dependencies/ng-file-upload.min.js"></script>
  <script src="/js/dependencies/moment.js"></script>
  <script src="/js/dependencies/angular-moment.js"></script>
  <script src="/js/dependencies/Chart.js"></script>
  <script src="/js/dependencies/angular-chart.js"></script>
  <script src="/js/public/zoomableApp.js"></script>
  <script src="/js/public/directives.js"></script>
  <script src="/js/public/servicesAPI.js"></script>
  <script src="/js/public/controllers/dashboardController.js"></script>
  <script src="/js/public/controllers/editController.js"></script>
  <script src="/js/public/controllers/loginController.js"></script>
  <!--SCRIPTS END-->

  <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
  <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: "<%= _csrf %>",
      user: <%- JSON.stringify(user) %>,
      video: <%- JSON.stringify(video) %>
    };
  </script>

</head>
<body ng-app="zoomableApp">
  <% if (user.length != 0) { %>
    <!-- Navbar shows only when user is logged in -->
    <%- partial('navbar.ejs') %>
  <% } %>
  <%- body %>
</body>
</html>
